body {
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: 1rem;
}

img {
  max-width: 300px;
  width: 100%;
  height: auto;
  padding: 1rem;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  transition: 0.2s;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}
:root {
  --color-accent: oklch(65% 50% 0);
}

html {
  accent-color: var(--color-accent);
}
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
}
input,
textarea,
button {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}


form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

label {
  display: contents;
}

input,
textarea,
button {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  grid-column: 2;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h2 {
  font-size: 400%;
}

/* Step 4.1 - Auto dark mode */
html {
  color-scheme: light dark;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

nav a.current {
  border-bottom-color: var(--border-color);
}

/* Step 4.3 - Position the switcher top right */
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}


input, textarea, button, select {
  font: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#profile-stats dt {
  grid-row: 1;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: gray;
}

#profile-stats dd {
  grid-row: 2;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.project-year {
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  color: #777;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}
.swatch {
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 1em;
  background-color: var(--color);
  border-radius: 50%;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
  list-style: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.container {
  display: flex;
  align-items: center;
  gap: 2em;
}
.container .legend {
  flex: 1;
}

#projects-pie-plot:has(path:hover) path:not(:hover) {
  opacity: 0.5;
}

#projects-pie-plot path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;
}
.selected:is(path) {
  fill: var(--color);
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.5em 1em;
}
.stats dt {
  grid-row: 1;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666;
}
.stats dd {
  grid-row: 2;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}


.gridlines line {
  stroke: #ccc;
  stroke-opacity: 0.5;
}
.gridlines path {
  display: none; /* hide the axis line itself */
}


dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25em 0.75em;
  margin: 0;
}
dl.info dt {
  color: #666;
  font-weight: normal;
}
dl.info dd {
  margin: 0;
  font-weight: bold;
}
.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

/* Hover effect on dots */
circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}
circle:hover {
  transform: scale(1.5);
}

dl.info {
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}
dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

@keyframes marching-ants {
  to { stroke-dashoffset: -8; }
}
.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}